<h1 class="mb-3">Ampokejimas</h1>
<div>
  <p>Perkama preke: {{name}}</p>
</div>
{{#if message}}
  <div class="alert alert-success">{{message}}</div>
{{/if}}

<form action="/apmokejimas" method="POST">
  <div class="mb-3 mt-3">
    <label for="preke" class="form-label">Perkama preke</label>
    <input type="text" required name="preke" value={{name}} class="form-control" id="preke" />
  </div>
  <div class="mb-3 mt-3">
    <label for="prekesId" type="hidden" class="form-label">Prekes identifikavimo numeris</label>
    <input type="number" value={{id}} required name="prekesId" class="form-control" id="prekesId" />
  </div>
  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Vardas</label>
    <input type="text" required name="name" class="form-control" id="name" minlength="1" maxlength="50" />
  </div>
  <div class="mb-3">
    <label for="pavarde" class="form-label"> Pavarde</label>
    <input type="text" required name="pavarde" class="form-control" id="pavarde" minlength="1" maxlength="1000" />
  </div>
  <div class="mb-3">
    <label for="adresas" class="form-label">Adresas</label>
    <input type="text" required name="adresas" class="form-control" id="description" minlength="1" maxlength="1000" />
  </div>
  <div class="mb-3">
    <label for="mokejimoBudas" class="form-label"> Mokejimo budas</label>
    <select name="mokejimoBudas" id="mokejimoBudas">
      <option value="paypal">PayPal</option>
      <option value="mastercard">MasterCard</option>
      <option value="visa">Visa</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="pristatymas" class="form-label"> Pristatymo budas</label>
    <select name="pristatymas" id="pristatymas">
      <option value="pastomatas">Atsiimsite pastomate</option>
      <option value="namai">Pristatymas i namus</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Apmoketi</button>
</form>