<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prekes pavadinimas</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Televizorius</td>
      <td> 1</td>
      <td>
        <a href="/pirkti/1/Televizorius" class="btn btn-success">Pirkti</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Skalbyklė</td>
      <td>1</td>
      <td>
        <a href="/pirkti/2/Skalbyklė" class="btn btn-success">Pirkti</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> Šaldytuvas</td>
      <td>1</td>
      <td>
        <a href="/pirkti/3/Šaldytuvas" class="btn btn-success">Pirkti</a>
      </td>
    </tr>
  </tbody>
</table>